<mat-card>
  <mat-spinner *ngIf="isLoading" />
  <form [formGroup]="form" (ngSubmit)="onSavePost()" *ngIf="!isLoading">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input
        matInput
        type="text"
        id="title"
        name="title"
        formControlName="title"
      />
      <mat-error *ngIf="form.get('title').invalid"
        >Please enter a title.</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Content</mat-label>
      <textarea
        matInput
        id="content"
        name="content"
        rows="3"
        formControlName="content"
      ></textarea>
      <mat-error *ngIf="form.get('content').invalid"
        >Please enter some content.</mat-error
      >
    </mat-form-field>
    <div>
      <button mat-stroked-button type="button" (click)="filePicker.click()">
        Add Image
      </button>
      <input type="file" (change)="onImagePicked($event)" #filePicker />
    </div>
    <div class="image-preview" *ngIf="form.get('image').isValid && imagePrev">
      <img [src]="imagePrev" [alt]="form.value.title" />
    </div>
    <div>
      <button mat-raised-button color="accent" type="submit">Save Post</button>
    </div>
  </form>
</mat-card>
