form {
  width: 90%;
  margin: auto;
  align-items: center;
}

mat-form-field {
  width: 100%;
  margin: auto;
  margin-top: 1%;
}

mat-spinner {
  margin: auto;
}

textarea {
  width: 100%;
  margin: auto;
}

button {
  width: fit-content;
  margin: 1% auto;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}
